{% extends "base.html" %} {% block title %} Portfolio {% endblock %}
{% load static %}
{% block content %}

  <div class="container-fluid" id="first-con">

    <div class="container-fluid" id="intro-txt">
      <div class="wrapper">
        <div class="static-txt">print("</div>
        <ul class="dynamic-txts">
            <li><span>Hello</span></li>
            <li><span>World</span></li>
        </ul>
        <div class="static-txt">")</div>
      </div>
    </div>

  </div>

  <div class="container-fluid" id="second-con">
    
    <div class="profile-box"> 
      <img src="{% static 'images/profile2.png' %}" id="profile-img">  
      <div class="circle-profile">
      </div>
      <div class="circle1"></div>
      <div class="circle2"></div>
    </div>
    
    <div class="text-box">
      <h2>Hi Roy here,</h2>
      <br>
      <div class="body-box">
        <p>
            A dedicated and recent Computer Science graduate with a passion for innovation and continuous learning. My journey in the dynamic 
            realm of technology is not just a career path but a fascinating exploration, fueled by curiosity and inspired
            by the incredible works of pioneers in the field. Equipped with a solid foundation in Computer Science, my goal is learn and adapt in 
            order to contribute fresh perspectives and creative solutions to the ever-evolving landscape of technology. Venturing from web and app 
            development to the immersive world of game development, I find joy in the intricacies of creating possible and efficient ways to integrate solution. 
        </p>

        <p>
            The journey ahead in the realm of technology may present its challenges, but I firmly believe that, 
            with the right environment and mindset, every difficulty transforms into a possibility waiting to be realized.
        </p>

        
      </div>
      
    </div>
   
 
  </div>

  <!---->
  <div class="container-fluid" id="third-con">
    <p>SKILLS & PROJECTS</p>
  </div>

  <!---->
  <div class="container-fluid" id="fourth-con">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slides" id="one">
            <div class="image-con">
              <div class="firstimgs">
                <img src="{% static 'images/UIA2.png' %}" id="UIA2">
                <img src="{% static 'images/UIA1.png' %}" id="UIA1">
              </div>

              <div class="firstimgs">
                <img src="{% static 'images/UIB2.png' %}" id="UIB2">
                <img src="{% static 'images/UIB1.png' %}" id="UIB1">
              </div>
            </div>
            <div class="txt-con">
              <div class="title-txt">
                <h1>UI / UX Design</h1>
              </div>
              <div class="body-txt">
                <p>Crafting seamless User Interface and captivating User Experience designs through the proficient use of Figma, Photoshop, and other design tools.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="slides" id="two">
            <div class="image-con">
              <img src="{% static 'images/DC1.png' %}" id="DC1">
              <img src="{% static 'images/DC2.png' %}" id="DC2">
            </div>
            <div class="txt-con">
              <div class="title-txt">
                <h1>Duck Counting App</h1>
              </div>
              <div class="body-txt">
                <p>A web-based software tool that uses machine learning, data structures, and image processing to help classify and count ducks in videos, images, or real-time.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="slides" id="three">
            <div class="image-con">
              <div class="first-img">
                <img src="{% static 'images/game3.png' %}" id="game3">
                <img src="{% static 'images/game4.png' %}" id="game4">
              </div>
              <img src="{% static 'images/game2.png' %}" id="game2">
            </div>
            <div class="txt-con">
              <div class="title-txt">
                <h1>Game Development</h1>
              </div>
              <div class="body-txt">
                <p>Immersing in the world of game development, where creativity meets technology, I bring ideas to life with the help of Unity 
                   and other tools turning virtual experiences into unforgettable adventures.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
            <div class="slides" id="four">
              <div class="image-con">
                <img src="{% static 'images/auto1.png' %}" id="auto1">
                <img src="{% static 'images/auto2.png' %}" id="auto2">
              </div>
              <div class="txt-con">
                <div class="title-txt">
                  <h1>Automation System</h1>
                </div>
                <div class="body-txt">
                  <p>Developing a QA automation scripts to run tests on the software that validating the functionality of software and ensures it meets requirements before being released into production.</p>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div> 
    
  </div>

  <!---->
  <div class="container-fluid" id="fifth-con">

    <div class="contact-con">
      <div class="email-con">
        <i class="fa-solid fa-envelope"></i>
        <p>roypnarido@gmail.com</p>
      </div>

      <div class="line-con"></div>

      <div class="num-con">
        <i class="fa-solid fa-phone"></i>
        <p>0927 720 7118</p>
      </div>
      
      <div class="line-con"></div>

      <div class="cv-con">
        <!--<i class="fa-solid fa-file-arrow-down"></i>-->
        <p>Roy Paul Narido</p>
      </div>
    </div>

  <div class="bubbles" id="bubbles"></div>
   
  </div>

  <script>
    let clientwidth = document.body.clientWidth;
    let maxBubbles = (clientwidth / 41);

    var outputHTML = "";
    let min = 10;
    let max = 30;
  
    for (var i = 1; i < maxBubbles; i++) {
      let randomNum = Math.floor(Math.random() * (max - min + 1)) + min;
      outputHTML += "<span style='--i:" + randomNum + ";'></span>";
    }
  
    document.getElementById("bubbles").innerHTML = outputHTML;
  </script>
  <!-- 
    
  -->
{% endblock %}